@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section,
.section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $smDesktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $tableWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $phoneWidth) {
    padding: 20px 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: $phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth;
  }
}

// Modules:
// example: @import "modules/my-module.scss";

.logo {
  position: absolute;
  left: 30px;
  top: 30px;
}

.containerColorsType {
  display: flex;
  flex-direction: row;
  font-family: Quicksand;
  justify-content: space-between;
  width: 1100px;
  margin-left: 140px;
  margin-top: 57px;
  .colors {
    li {
      display: grid;
      width: 270px;
      grid-template-columns: 70px 160px;
      grid-column-gap: 40px;
      margin: 10px;
      //font-family: Quicksand;
      font-style: normal;
      font-weight: bold;
      font-size: 19px;
      line-height: 29px;
      .code {
        font-weight: normal;
      }
      .color {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        width: 70px;
        height: 70px;
        background: $darkShade100;
        border-radius: 6px;
        /*@for $i from 2 through 7 {
          &i {
            background-color: red;
          }
         }*/
        &2 {
          background-color: $darkShade75 ;
        }
        &3 {
          background-color: $darkShade50;
        }
        &4 {
          background-color: $darkShade25;
        }
        &5 {
          background-color: $darkShade5;
        }
        &6 {
          background-color: $purple;
        }
        &7 {
          background-color: $green;
        }
      
      }
    }
  }
  .type {
    li {
      display: grid;
      grid-template-columns: 30px 336px;
      grid-column-gap: 30px;
      //flex-direction: row;
      width: 434px;
      font-style: normal;
      font-weight: normal;
      margin-bottom: 50px;
      color: $darkShade25;
      &:first-child {
        font-size: 24px;
        line-height: 29px;
        div:last-child {
          //font-family: Quicksand;
          font-weight: bold;
          font-size: 24px;
          line-height: 30px;
          color: $darkShade100;
        }
      }
      &:nth-child(2) {
        font-size: 19px;
        line-height: 23px;
        div:last-child {
          //font-family: Quicksand;
          font-weight: bold;
          font-size: 19px;
          line-height: 24px;
          color: $darkShade100;
        }
      }
      &:nth-child(3) {
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        div:last-child {
          font-weight: bold;
          color: $darkShade100;
        }
      }
      &:last-child {
        font-size: 14px;
        line-height: 24px;
        div:last-child {
          color: $darkShade75 ;
        }
      }
    } 
  }
  
}









