@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section,
.section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $smDesktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $tableWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $phoneWidth) {
    padding: 20px 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: $phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth;
  }
}

// Modules:
// example: @import "modules/my-module.scss";

.containerColorsType {
  display: flex;
  flex-direction: row;
  li {
    //border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px;
    //grid-template-rows: 2;
    //width: ;
  }
}

.color {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 70px;
	height: 70px;
  background: #1F2041;
  border-radius: 6px;
  &2 {
    background-color: rgba(31, 32, 65, 0.75);
  }
  &3 {
    background-color: rgba(61, 64, 161, 0.5);
  }
  &4 {
    background-color: rgba(31, 32, 65, 0.25);
  }
  &5 {
    background-color: rgba(31, 32, 65, 0.05);
  }
  &6 {
    background-color: #BC9CFF;
  }
  &7 {
    background-color: #6FCF97;
  }

}


.type li.div {
  //font-size: 24px;
  //line-height: 29px;
  text-align: right;
  color: rgba(31, 32, 65, 0.25);
}

.type li.h1 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  
  /* Dark 100% */
  
  color: #1F2041;
}

.logo {
  position: absolute;
  left: 30px;
  top: 30px;
}