@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*section,
.section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $smDesktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $tableWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $phoneWidth) {
    padding: 20px 0;
  }
}*/

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 76.3194%;
  margin-left: 10.4167%;
  margin-right: 13.2639%;
  margin-top: 10.0694%;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: $phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth;
  }
}

// Modules:
// example: @import "modules/my-module.scss";

.logo {
  position: absolute;
  left: 30px;
  top: 30px;
}

.containerColorsType {
  display: grid;
  grid-template-columns: 24.4768% 36.6697%;
  font-family: Quicksand;
  justify-content: space-between;
  .colors {
    li {
      display: grid;
      grid-template-columns: 26.0223% 59.1078%;
      //grid-template-columns: 26.0223% auto;
      justify-content: space-between;
      //grid-column-gap: 20px;
      //text-align: left;
      margin-bottom: 7.4349%;
      font-family: Quicksand-Bold;
      font-size: 19px;
      line-height: 29px;
      .colorName {
        //min-width: auto;
        margin-top: 7px;
      }
      .code {
        font-family: Quicksand;
        margin-bottom: 2px;
        //padding-top: 0px;
      }
      .color {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        width: 100%;
        height: 70px;
        background: $darkShade100;
        border-radius: 6px;
        /*@for $i from 2 through 7 {
          &i {
            background-color: red;
          }
         }*/
        &2 {
          background-color: $darkShade75 ;
        }
        &3 {
          background-color: $darkShade50;
        }
        &4 {
          background-color: $darkShade25;
        }
        &5 {
          background-color: $darkShade5;
        }
        &6 {
          background-color: $purple;
        }
        &7 {
          background-color: $green;
        }
      
      }
    }
  }
  .type {
    font-family: $mainFont;
    li {
      display: grid;
      grid-template-columns: 9.1811% 83.3747%;
      justify-content: space-between;
      align-content: space-around;
      text-align: left;
      font-style: normal;
      font-weight: normal;
      //padding-bottom: 12.41%;
      margin-bottom: 12.41%;
      color: $darkShade25;
      div:first-child {
        text-align: right;
      }
      &:first-child {
        font-size: 24px;
        line-height: 29px;
        div:last-child {
          font-family: Quicksand-Bold;
          font-size: 24px;
          line-height: 30px;
          color: $darkShade100;
        }
      }
      &:nth-child(2) {
        font-size: 19px;
        line-height: 23px;
        div:last-child {
          font-family: Quicksand-Bold;
          font-size: 19px;
          line-height: 24px;
          color: $darkShade100;
        }
      }
      &:nth-child(3) {
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        div:last-child {
          font-family: Montserrat-Bold;
          color: $darkShade100;
        }
      }
      &:last-child {
        font-size: 14px;
        line-height: 24px;
        vertical-align: top;
        div:last-child {
          width: 89.6%;
          color: $darkShade75 ;
        }
      }
    } 
  }
  
}









