extends ../layout/colorsType

block variables
    - var title = 'Colors & Type';
    - var description = 'description for Colors & Type';
    - var pageClass = 'colorsType';

block content
    section
        .containerColorsType
            section.colors
                ul
                    li 
                        div.color
                        div Dark Shade 100%
                        div #1F2041
                    li 
                        div.color.color2
                        div Dark Shade 75%
                        div #1F2041
                    li 
                        div.color.color3
                        div Dark Shade 50%
                        div #1F2041
                    li 
                        div.color.color4
                        div Dark Shade 25%
                        div #1F2041
                    li 
                        div.color.color5
                        div Dark Shade 5%
                        div #1F2041
                    li 
                        div.color.color6
                        div Purple
                        div #BC9CFF
                    li 
                        div.color.color7
                        div Green
                        div #6FCF97
            section.type
                ul
                    li.h1
                        div H1
                        div This one is the sub-section or widget title
                    li.h2
                        div H2
                        div Next one is the item title inside widgets
                    li.h3
                        div H3
                        div This is a label or CTA text
                    li.body
                        div body
                        div This is the body text which is used for most of the design, like paragraphs, lists, etc.
    //example-component

